%header.entry-header
  %h1.entry-title= t('.title', name_sv: @member_app_waiting_reason.name_sv, name_en: @member_app_waiting_reason.name_en  )

.post-title-divider
  %span

.entry-content.wpcf7
  = render 'form'

.center
  = link_to t('back'), admin_only_member_app_waiting_reasons_path, class: 'btn btn-default'
