---
http_interactions:
- request:
    method: get
    uri: https://dinkurs.se/lxml.asp?company_key=yFKGQJ
    body:
      encoding: UTF-8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic YXBpOmtleS03NDZkZjExNjU0MzYxYjM5MGIxYjUwMThiMDU4NTlhYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: "<events>
                <event event_id="28613">
                <event_id type="PropertyNumber">28613</event_id>
                <event_name type="PropertyString">Betaling (DKK)</event_name>
                <event_place type="PropertyString"/>
                <event_place_geometry_location type="PropertyString"/>
                <event_host type="PropertyString">Demo Din Kurs</event_host>
                <event_fee type="PropertyNumber">0</event_fee>
                <event_fee_tax type="PropertyNumber">0</event_fee_tax>
                <event_pub type="PropertyDate">2015-02-06</event_pub>
                <event_apply type="PropertyDate">2100-01-01</event_apply>
                <event_start type="PropertyDate">2100-01-01</event_start>
                <event_stop type="PropertyDate">2100-01-01</event_stop>
                <event_participant_number type="PropertyNumber">0</event_participant_number>
                <event_participant_reserve type="PropertyNumber">0</event_participant_reserve>
                <event_participants type="PropertyNumber">0</event_participants>
                <event_occasions type="PropertyNumber">0</event_occasions>
                <event_group type="PropertyNumber">0</event_group>
                <event_position type="PropertyNumber">0</event_position>
                <event_instructor_1 type="PropertyString"/>
                <event_instructor_2 type="PropertyString"/>
                <event_instructor_3 type="PropertyString"/>
                <event_parking type="PropertyNumber">3</event_parking>
                <event_commenttext type="PropertyString"/>
                <event_ticket_info type="PropertyString"/>
                <event_key type="PropertyString">PEpnLgEsMLFBlGjV</event_key>
                <event_currency_id type="PropertyNumber">3</event_currency_id>
                <event_default_client_numbers type="PropertyNumber"/>
                <event_url_id type="PropertyString">https://dinkurs.se/appliance/?event_id=28613</event_url_id>
                <event_url_key type="PropertyString">
                https://dinkurs.se/appliance/?event_key=PEpnLgEsMLFBlGjV
                </event_url_key>
                <event_infotext type="PropertyString">
                <![CDATA[ ]]>
                </event_infotext>
                <event_completion_text type="PropertyString">
                <![CDATA[ ]]>
                </event_completion_text>
                <event_aftertext type="PropertyString">
                <![CDATA[ ]]>
                </event_aftertext>
                <event_event_dates type="PropertyString"></event_event_dates>
                </event>
                <event event_id="30016">
                <event_id type="PropertyNumber">30016</event_id>
                <event_name type="PropertyString">Betalning (SEK)</event_name>
                <event_place type="PropertyString"/>
                <event_place_geometry_location type="PropertyString"/>
                <event_host type="PropertyString">Demo Din Kurs</event_host>
                <event_fee type="PropertyNumbe[...]
