- if @membership_application.status == t('membership_applications.accepted')
  %p.membership_number "#{t('membership_applications.show.membership_number')}": #{@membership_application.membership_number}
