%table.templateContainer{cellspacing: '0', cellpadding: '0', align: 'center'}
  %tbody
    %tr
      %td.headerContainer{ valign:'top'}
        %table.ImageBlock{cellspacing: '0', cellpadding: '0'}
          %tbody.ImageBlockOuter
            %tr
              %td.ImageBlockInner{valign: 'top'}
                %table.ImageContentContainer{cellspacing: '0', cellpadding: '0', align: 'left'}
                  %tbody
                    %tr
                      %td.ImageContent{valign: 'top'}
                        = image_tag('shf-mailheader-pupImage.jpg', alt: 'Sveriges Hundföretagare',  align: 'left', width: '400px')
