%table.templateContainer{cellspacing: '0', cellpadding: '0', align: 'center'}
  %tbody
    %tr
      %td.preheaderContainer{valign: 'top'}

        %table.TextBlock{cellspacing: '0', cellpadding: '0'}
          %tbody.TextBlockOuter
            %tr
              %td.TextBlockInner{valign: 'top'}
                %table.TextContentContainer{cellspacing: '0', cellpadding: '0', align: 'left'}
                  %tbody
                    %tr
                      %td.TextContent{ valign: 'top'}
