#signoff
  %p.signoff= t('shf_mailer.shf_signoff')

  #signature
    %p.shf= t('shf_mailer.shf_signature')
    -# Could add information to the URL so that it's clear they came to the site via email
    = link_to t('shf_mailer.shf_signature_url'), root_url, target: '_blank', class: 'signature-url'
