= form_for uploaded_file,  html: { multipart: true } do |f|
  - if uploaded_file.errors.any?
    .wpcf7-response-output
      - uploaded_file.errors.full_messages.each do |msg|
        %p= msg

  - render partial: 'uploaded_files/uploaded_file_fields', locals: {f: f}

  .actions
    = f.submit 'Save'
