%header.entry-header
  %h1.entry-title Editing @uploaded_file
.post-title-divider
  %span
.entry-content.wpcf7
  = render 'form', uploaded_file: @uploaded_file

  = link_to 'Show', @uploaded_file
  \|
  = link_to 'Back', uploaded_files_path
