%header.entry-header
  %h1.entry-title Kakor (cookies)
  .entry-content

    %p En kaka är en liten textfil som lagras på besökarens dator och innehåller information. Kakor används normalt för att förbättra webbplatsen för besökaren. Det finns två typer:
    %ol
      %li Varaktiga kakor är en fil som sparas på besökarens dator som ligger kvar tills varaktighetstiden går ut. Filen används t.ex. för att besökaren lättare ska kunna använda webbplatsen utifrån sina önskemål och intressen. De försvinner tidigare om besökaren väljer att rensa bort kakor från webbläsaren.
      %li Sessionskakor lagras temporärt i besökarens dators minne under den tiden som besökaren är på webbplatsen. De försvinner när besökaren stänger sin webbläsare.

    %p Kakor används på många webbplatser för att ge en besökare tillgång till olika funktioner. Det går att använda informationen i kakan för att följa hur användare surfar.

    %p Enligt lagen om elektronisk kommunikation ska alla som besöker en webbplats med kakor få tillgång till information om att webbplatsen innehåller kakor och ändamålet med användningen av kakor. Besökaren ska också lämna sitt samtycke till att kakor används.

    %h3 Så används cookies på vår webbplats</h3>

    %p Ett syfte med att använda cookies på denna webbplats är för att kunna räkna antalet användare och analysera trafiken. Genom att förstå hur webbplatsen används kan vi utveckla och förbättra den. Google Analytics används för denna statistik.

    %h3 Stänga av alla kakor
    %p Om du som besökare inte accepterar att webbplatsen använder kakor kan du stänga av funktionen via din webbläsares säkerhetsinställningar. Du kan även ställa in webbläsaren så att du får en varning varje gång webbplatsen försöker sätta en kaka på din dator. Om du inte vill att kakor lagras på din dator kan du stänga av även den funktionen i din webbläsares inställningar. Då kommer inga kakor att lagras.
