.app-section#membership-guidelines
  = render 'app_section_header', section_title: t('.section_membership_guidelines'),
      section_number_str: section_number_str

  .answers
    %p.section-instructions= "[instructions...  ]"
