%span.numbers
  %span.completed= "[completed: " + master_checklist.user_checklists.completed.count.to_s
  %span.not-completed= ", not completed: " + master_checklist.user_checklists.uncompleted.count.to_s
  ]
