%span.numbers
  %span.completed= "[completed: " + master_checklist.user_checklists.all_that_are_completed.count.to_s
  %span.not-completed= ", not completed: " + master_checklist.user_checklists.all_that_are_uncompleted.count.to_s
  ]
