@import 'shf-custom-colors';

.app_configuration {


  .field-label {
    font-weight: bold;
  }

  .card {
    margin: 3px;
  }


  .image {
    .missing {
      .card-header {
        //color: red;  // can use this to show that an image is not in the database (perhaps it's being read from the app/assets)
      }
    }

    .card-header {
      font-weight: bold;
    }

    img {
      border: 1pt solid $light;
    }

  }


  .field.upload-image {

    margin-top: 1rem;

    input {
      border: 1pt solid $light;
      font-size: smaller;
    }
  }

}

