
.fa-facebook {
  color: $social-media-facebook-blue;
}

.fa-instagram {
  color: $social-media-instagram-gray;
}

.fa-youtube-square {
  color: #c00;
}

.disabled_icon {
  color: gray;
  cursor: not-allowed;
}
