.social-media {

  a {
    border-bottom: 0;
  }

  i {
    margin-right: 15px;

    &:hover {
      filter: saturate(5);
    }
  }

}

.fa-facebook {
  color: #3578e5;
}

.fa-instagram {
  color: #6e644b;
}

.fa-youtube-square {
  color: #c00;
}

.disabled_icon {
  color: gray;
  cursor: not-allowed;
}
