$checkbox-border-color: #5692ce;
$gray-shadow: #b1b1b1;

$fake-loc-border: ff69b4; // hotpink;
$fake-loc-background: #ffdcf4;
$fake-coord-input-border: #ff0000; // red;
$fake-coord-input-background: #ffffff; // white;

$show-near-me-background: #ffffff; // white;
$show-near-me-text-color: #000000; // black;
$show-near-distance-text-color: #0000ff; // blue;

$checkbox-shadow: rgba(0, 0, 0, 0.3);
$checkbox-color: #808080; // gray;


#map {
  height: 405px; // doesn't work with 100% TODO: how does this look on small
                // screens? may need to fix for those
  width: 100%;

  #show-near-me {
    background-color: $show-near-me-background;
    border: 1.5pt solid $checkbox-border-color;
    padding-bottom: 3px;
    padding-left: 4px;

    font-size: larger;
    font-weight: bold;

    .show-near-me-text {
      color: $show-near-me-text-color;
    }

    input.distance-in-km {
      color: $show-near-distance-text-color;
      font-weight: bold;
      line-height: 1em !important;
      margin-left: 4px;
      margin-right: 4px;
      padding: 2px 2px 2px 4px;
      text-align: right;
      width: 50px;
    }

    input.show-near-me-button {
      background: $show-near-me-background image-url("bullseye.png") no-repeat;
      border: 0;
      color: $show-near-me-text-color;
      font-weight: bold;
      height: 25px;
      letter-spacing: normal;
      margin-left: 6px;
      padding: 2px;
      vertical-align: bottom;
      width: 25px;
    }


    #search-near-me-checkbox {
      border: 1px solid $checkbox-color;
      border-radius: 3px;
      box-shadow: 0 1px 3px $checkbox-shadow;
      cursor: pointer;
      padding-left: 4px;
      text-align: center;
    }

    #checkbox-label {
      font-family: Open Sans, sans-serif;
      font-size: x-small;
      font-weight: bolder;
      padding-left: 4px;
      padding-right: 4px;
    }


  }


  #fake-current-location {
    background-color: $fake-loc-background;
    border: 1pt $fake-loc-border solid !important;
    font-weight: bold;
    line-height: 1em !important;
    margin: 1px;
    padding: 2px;


    p {
      margin-bottom: 2px;
    }

    label {
      margin-right: 2px;
    }

    input {
      margin-right: 4px;
    }

    #fake-inputs {

      .fake-coordinate {
        background-color: $fake-coord-input-background;
        border: 1px $fake-coord-input-border solid !important;
        color: $show-near-me-text-color;
        line-height: 1em;
        padding: 2px;
        width: 80px;
      }
    }
  }

}

.map-marker p {
  margin-bottom: 0.5em;
}
