$checkbox-border-color: #5692ce;
$gray-shadow: #b1b1b1;

$checkbox-shadow: rgba(0, 0, 0, 0.3);

#map {
  height: 405px; // doesn't work with 100% TODO: how does this look on small screens? may need to fix for those
  width: 100%;

  #search-near-me {
    background-color: white;
    border: 1.5pt solid $checkbox-border-color;
    padding-bottom: 3px;
    padding-left: 4px;

    #search-near-me-checkbox {
      border: 1px solid gray;
      border-radius: 3px;
      box-shadow: 0 1px 3px $checkbox-shadow;
      cursor: pointer;
      padding-left: 4px;
      text-align: center;
    }

    #checkbox-label {
      font-family: Open Sans, sans-serif;
      font-size: x-small;
      font-weight: bolder;
      padding-left: 4px;
      padding-right: 4px;
    }

  }
}

.map-marker p {
  margin-bottom: 0.5em;
}
