$footer-color:  #6aa6ed;

.email {

  .greeting {

  }

  .email-content {
    margin-left: 1rem;
  }

  .signoff {

    .signoff {
      font-size: larger;
      font-style: italic;
      font-weight: bold;
      margin-top: 2rem;
    }

    .signature {
      .shf {
        margin-bottom: 0;
      }
    }
  }


  .footer {
    font-size: smaller;
    color: $footer-color;
  }

}
