#uploaded-files-list {
  .file-size,
  .updated-at {
    font-size: smaller;
  }

  tbody {
    .description {
      font-size: smaller;
    }
  }
}

.uploaded-file {
  margin-left: 2em;
  text-align: center;

  img {
    border-color: $info;
    border-style: dotted;
    border-width: thin;
  }
}
