$admin-color: #ff0000;

.is-admin {
  color: $admin-color;
  font-weight: bold;
}

.panel.admin-set-new-password-form {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

//*[@id="edit_user_7"]

form.form-horizontal.edit-user.admin-set-password {

  padding: 1em;

  .field.form-group {
    margin-left: 0;
  }

}