%footer.container-fluid.site-footer#colophon{ role: 'contentinfo' }
  .row
    .col
      -# %p.home= link_to t('home'), t('shf_home_url'), target: '_blank', class: 'signature-url'
      .about
        -# NOTE: Capybara cannot find link without 'href' attribute
        %a{ href: '#', 'data-toggle': 'modal', 'data-target': '#about-info-modal' }
          = t('about')

    .col-3
      .row
        .col
          .social
            .facebook= icon_link(t('shf_facebook_url'), 'facebook')
            .instagram= icon_link(t('shf_instagram_url'), 'instagram')

= render partial: 'about_modal'
