#signoff
  = render 'email_us'

  %p.signoff= t('shf_mailer.membership_application.signoff')

  #signature
    %p.signature= t('shf_mailer.membership_application.signature')
    %p.signature_url= t('SHF_name')
