- provide :signoff do
  = render 'membership_application_mailer/signoff'


Your application has been reviewed and is good. Your next step is to submit your payment.  Here's how:
\
= '   ' + 'step 1: ....'
\
=  I18n.t("application_mailer.membership_application.app_approved.message_text")
